#main{
    position: relative;
    width: 1200px;
    height: 700px;
    border: 2px solid rgb(223, 223, 223);
    background-color: rgb(228, 228, 228);
    color: white; 
    align-items: center;
    margin-left: 10%;
}

#topic{
    text-align: center;
    font-size: 30px;
    color: gray;
    font-weight: 700;
}