*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 960px;
    background: url("../img/image.jpg");
}

.bar{
    width: 20px;
    height: 5px;
    background-color: #3B3950;
    margin-top: 2px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.i1{
    font-size: 17px;
    color: white;
}

.cross{
    display: none;
}

#check{
    display: none;
}

.nav{
    overflow: hidden;
    padding: 35px 136px;
    padding-bottom: 20px;
}

.nav2{
    background-color: white;
    overflow: hidden;
    margin: 10px 8%;
    border-radius: 3px;
}

.navv{
    position: relative;
}

.nav__right{
    float: right;
}

.nav__left__left{
    float: left;
    width: 15%;
    margin-left: 40px;
}

.image{
    float: left;
    margin-right: 20px;
}

.icons{
    margin: 0px 20px;
}

.icons#last{
    margin-right: 10px;
}

.li__item{
    float: left;
    list-style-type: none;
    margin-left: 20px;
    padding: 12px 20px;
    margin-right: 45px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-top: 5px;
}

.li__item#one{
    color: #5956E9;
}

.li__item#logo{
    margin-left: 200px;
    margin-right: 20px;
}

.li__item#last{
    margin-left: 10px;
    margin-right:10px;
}

.li__item#last1{
    color: white;
    /* margin-left: 5%; */
    float: right;
    margin-right: 10px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    /* border: 2px solid #5956E9; */
    border-radius: 3px;
    background-color: #5956E9;
}


.li__item a{
    text-decoration: none;
    color: grey;   
}

.li__item:hover{
    background-color: lightgray;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mob{
    float: right;
    margin-top: 82px;
    padding-bottom: 83px;
}

.rect{
    float: left;
    /* margin-top: 200px; */
    top: 180px;
    left: 185px;
    position: relative;
    background-color: transparent;
    border: 15px solid #7572FF;
    width: 570px;
    height: 535px;
}

.pamplet{
    background-color: white;
    width: 570px;
    height: 432px;
    position: absolute;
    /* top: 90%; */
    left: -50px;
    top: 51px;
}

.left__section{
    float: left;
}

.topic{
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 63px;
    text-transform: uppercase;

    /* Royal blue */
    padding: 20px;
    color: #5956E9;
}

.desc{
    clear: both;
    margin-top: 25%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #6C6C72;
    padding: 20px;
}

.download{
    margin: 10px 0px 0 30px ;
    font-size: 30px;
    font-weight: 700;
}

.download__image{
    margin-top: 20px;
    margin-left: 30px;
}

.sect{
    width: 100%;
    padding: 6% 102px;
    overflow: hidden;
}

.sect#zero{
    padding: 60px 150px;
    padding-right: 50px;
}

.aap{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.aap__desc{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    justify-content: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;
}


.imgl{
    float: left;
    padding-left: 6%;
}

.imgr{
    float: right;
    margin-right: 100px;
}

.imgll{
    float: left;
}

.imgrr{
    float: left;
}

.information{
    float: right;
    padding: 35px;
    font-size: 30px;
    font-weight: 700;
}

.box1{
    /* position: relative; */
    /* width: auto; */
    /* float: left; */
    width: 600px;
    border: 2px solid rgb(233, 231, 231);
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.check{
    /* position: absolute; */
    float: left;
    left: 2%;
}

.topic1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 40px;
}

.desc1{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;
    margin-left: 35px;
}

.boxx{
    margin-top: 30px;
}

.imgl#one{
    float: left;
    width: 50%;
}

.rating__image{
    clear: both;
}

.download__image#one{
    float: none;
}

.left{
    text-align: left;
    padding: 20px 0;
    margin: 0;
}

.textt{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C72;
}

.left1{
    margin-left: -10px;
    /* padding: 10px 0; */
}

.sect#two{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 750px;
    background: url("../img/image.jpg");
    padding-bottom: 300px;
}

.wcolor{
    color: white;
}

.wcolor#one{
    padding: 3% 30%;
}

.textt#one{
    padding: 3% 360px;
    text-align: justify;
    /* width: 600px; */
}

.textt#two{
    padding: 3% 3%;
    text-align: center;
}

.card{
    float: left;
    width: 29%;
    border: 3px solid rgb(233, 231, 231);
    box-sizing: border-box;
    padding: 1% 2%;
    border-radius: 5px;
}

#margin{
    margin-left: 26px;
    margin-right: 20px;
}

.profile{
    margin-left: 20%;
    width: auto;
    border: 3px solid #5956E9;
    border-radius: 50%;
    padding: 5px;
}

.name{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.icon__tag{
    background-color: #232233;
    width: auto;
    padding: 3px;
    margin: 0 13px;
}

.icon__tag:hover{
    background-color: #5956E9;
}

.desig{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #6C6C72;
}

.social{
    padding: 10px 50px;
}

.rel{
    position: relative;
}

.review#one{
    position: absolute;
    left: 4%;
    top: -60px;
}

.review#two{
    position: absolute;
    left: 20%;
    top: -60px;
    z-index: 10;
}

.review#three{
    position: absolute;
    top: -60px;
    right: 4%;
}

.bottom{
    position: absolute;
    left: 45%;
    bottom: 5%;
}

.card#blog{
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    margin-left: 2%;
}

.blog__image{
    width: 100%;
    margin: 0;
    padding: 0;
    /* position: absolute; */
}

.name#one{
    font-size: 21px;
    text-align: left;
    padding: 5px 25px;
}

.href{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    text-decoration-line: underline;
    text-transform: uppercase;
    color: #5956E9;
    padding: 0 25px;
}

.foot{
    width: 100%;
    height: auto;
    left: 0px;
    background-color: #232233;
    /* top: 6312px; */
    /* position: relative; */
    padding-top: 16%;
}

.sect#one{
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 470px;
    background: url("../img/image.jpg");
    /* padding-bottom: 300px; */
    z-index: -1;
}

.address{
    /* height: 15%;*/
    clear: both;
    align-items: center;
    border: 1px solid rgb(234, 232, 232);
    margin-left: 6%;
    background-color: white;
    border-radius: 10px;
    /* margin-bottom: 100px; */
    margin-top: -300px;
    z-index: 10;
    width: 87%;
    padding: 65px 0;
}

.video{
    position: absolute;
    /* margin-bottom: -150px; */
    /* bottom: -20%; */
    top: 100%;
    margin-left: 44%;
    /* height: auto;
    width: auto; */
    transform: translate(-50%, -50%);
    z-index: 1;
    /* background: linear-gradient(0deg, rgba(88, 81, 234, 0.4), rgba(88, 81, 234, 0.4)); */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.paddingtop{
    padding-top: 10%;
}

.padde{
    padding-left: 13%;
}

.foot__left{
    float: left;
    margin-left: 6%;
    width: 26%;
}

.foot__right{
    float: right;
    margin-right: 6%;
    width: 26%;
}

.foot__logo{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    padding-top: 8%;
    padding-left: 8%;
}

.foot__desc{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 8%;
    width: auto;
}

.padding{
    margin: 30px 45px;
    background-color: white;
}

.emailbox{
    position: relative;
    height: 40px;
    width: 90%;
    border: 1px solid rgb(236, 233, 233);
    margin: 50px 30px;
    padding: 10px 10px;
}

.line{
    clear: both;
    width: 86%;
    height: 0px;
    /* left: 135px; */
    /* top: 482px; */
    border: 1px solid #FFFFFF;
    margin-left: 8%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.clear{
    clear: both;
}

.footc{
    padding: 2% 30%;
    margin-left: 10%;
}

.sect#sect{
    padding-bottom: 10%;
}

.play{
    position: absolute;
    right: 6.8%;
    background-color: #5956E9;
    margin-top: -5.8%;
    border-radius: 5px;
    padding: 4px;
}

.play:hover{
    background-color: #7572FF;
}

.footpadd{
    padding-top: 110px;
}

@media screen and (max-width: 1200px) {
    .nav{
        clear: both;
    }
    .nav__left__left{
        /* clear: both; */
        float: left;
        width: 45%;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .nav__right{
            clear: both;
            float: none;
            align-items: center;
    }

    .li__item{
        margin-right: 0px;
        float: none;
        width: 150px;
    }

    .li__item#one{
        margin-right: 20px;
        margin-top: 80px;
    }

    .li__item#logo {
        margin-left: 10px;
    }

    .li__item#last{
        margin-left: 10px;
        /* margin-right: 250px; */
    }

    .li__item#last1{
        margin-left: 10px;
        /* margin-right: 20px; */
        float: none;

    }

    .nav2{
        margin-top: 20px;
    }
    .logo{
        margin: -160px -10px;
    }

    .mob{
        /* max-width: 100%; */
        margin-left: 20%;
        clear: both;
        float: none;
        width: 100%;
        margin-top: 80%;
        margin-bottom: 40%;
    }

    .left__section{
        clear: both;
        float: none;
    }

    .rect{
        float: none;
        margin: 0;
        padding: 0;
        width: 80%;
        height: 440px;
        margin-top: -220%;
        margin-left: -11%;
    }

    header{
        height: auto;
        max-width: 100%;
    }

    .head__image{
        height: 1380px;
        overflow: hidden;
    }

    .pamplet{
        width: 90%;
        height: auto;
        /* margin-top: 15%;
        margin-left: -30px; */
    }

    .topic{
        font-size: 25px;
        line-height: 30px;
    }
    .desc{
        margin-top: 25%;
        margin-bottom: 5%;
        padding: 0 5%;
    }

    .sect#zero{
        padding:80px 100px;
    }

    .aap{
        padding-bottom: 15px;
    }

    .imgl{
        float: none;
        clear: both;
        /* margin-left: 14%; */
        padding: 0 20px;
    }

    .aap__desc{
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }

    .imgr{
        clear: both;
        float: none;
        margin-right: 90px;
    }

    .imgl#one{
        width: 100%;
        margin: 0;
    }

    .rating__image{
        width: 100%;
    }

    .textt.wcolor#one{
        padding: 3% 5%;
    }

    .textt#one{
        padding: 3% 5%;
    }

    /* .card{
        clear: both;
        width: auto;
    } */

    #margin{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .card#margin{
        float: left;
        width: 43%;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    .profile{
        width: 50%;
        padding: 1% 1%;
        margin: 5% 25%;
    }

    .social{
        align-items: center;
        width: 100%;
    }

    .download{
        font-size: 20px;
        margin: 1% 5%;
    }
    .download__image{
        margin: 0;
        margin: 1% 5%;
        width: 80%;
    }

    .card{
        width: auto;
    }

    .box1{
        width: 115%;
    }

    .review1{
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .sect#two{
        height: 500px;
    }

    .review#one{
        left: -5px;
        width: 80%;
    }

    .review#two{
        width: 80%;
        z-index: 0;
    }

    .review#three{
        right: 60px;
        width: 80%;
    }

    .bottom{
        left: 35%;
    }

    .imgw{
        box-sizing: border-box;
        width: 100%;
        padding: 0% 10%;
    }

    .imgw1{
        box-sizing: border-box;
        width: 80%;
        padding: 0% 5%;
    }

    .address{
        display: block;
        width: 500px;
        margin-left: 20%;
        margin-top: -180px;
    }

    .foot__left{
        clear: both;
        width: auto;
        float: none;
    }

    .foot__desc{
        padding-right: 5%;
    }

    .social.padding{
        box-sizing: border-box;
        width: 80%;
    }

    .foot__right{
        float: none;
        width: auto;
        margin: 0;
        margin-left: 6%;
    }

    .foot__logo{
        width: 100%;
    }

    .play{
        margin-top: -12%;
        right: 6%;
    }

    .footc{
        padding: 2% 10%;
    }

    .imgl#mobi{
        float: left;
    }

    .imgr.paddi{
        margin-left: 20px;
    }

    .footpadd{
        padding-top: 20px;
    }

}

@media screen and (max-width: 570px) {
    .nav{
        clear: both;
        padding: 35px 50px;
    }
    .nav__left__left{
        clear: both;
        width: 163%;
        margin-left: 10px;
        padding-bottom: 20px;
    }

    .nav__right{
            clear: both;
            float: none;
            align-items: center;
    }

    .li__item{
        display: none;
    }

    .logo{
        margin: 40px -10px;
    }

    .cross{
        display: none;
        position: absolute;
        right: 10%;
        z-index: 2;
        margin-top: 11%;
    }

    .checkbtn{
        margin: 0;
        padding: 0;
        display: block;
        margin-top: 85px;
        margin-right: 40px;
    }

    .cross{
        display: none;
        position: absolute;
        right: 10%;
        /* bottom: 0px; */
        z-index: 2;
        margin-top: 40%;
    }

    .nav2{
        display: block;
    }

    #check{
        display: none;
    }

    #check:checked~.checkbtn{
        display: none;
    }
    #check:checked~.cross{
        display: block;
    }
    #check:checked~.li__item{
        display: block;
        left:0;
    }

    .head__image{
        height: 1150px;
    }

    .mob{
        /* max-width: 100%; */
        margin-left: 10%;
        clear: both;
        float: none;
        width: 100%;
        margin-top: 580px;
        margin-bottom: 0;
    }

    .left__section{
        clear: both;
        float: none;
    }

    .rect{
        float: none;
        margin: 0;
        padding: 0;
        width: 85%;
        height: 400px;
        margin-top: -315%;
        margin-left: -34%;
        }

    header{
        height: auto;
        max-width: 100%;
    }

    .pamplet{
       width: 90%;
    height: auto;
    margin-top: -15%;
    margin-left: 19px;
    }

    .imgw1{
        box-sizing: border-box;
        width: 120%;
        padding: 0% 5%;
    }

    .topic{
        font-size: 20px;
        line-height: 20px;
    }

    .desc{
        margin-top: 100px;
    }

    .sect#zero{
        /* margin-top: 105%; */
        padding: 30px 40px;
    }

    .imgl{
        float: none;
        clear: both;
        /* margin-left: 14%; */
        padding: 0 20px;
    }

    .aap__desc{
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }

    .imgr{
        clear: both;
        float: none;
        margin-right: 50px;
    }

    .sect{
        padding: 4% 40px;
    }

    .card#margin{
        margin-right: 0;
    }

    .social{
        padding: 10px 38px;
    }

    .aap{
        padding: 30px 0;
    }

    .imgl#one{
        width: 100%;
        margin: 0;
    }

    .rating__image{
        width: 100%;
    }

    .textt.wcolor#one{
        padding: 3% 5%;
    }

    .textt#one{
        padding: 3% 5%;
    }

    .card{
        clear: both;
        width: auto;
    }

    #margin{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .card#margin{
        margin-bottom: 5%;
        width: auto;
    }

    .profile{
        padding: 1% 1%;
        margin: 5% 25%;
    }

    .social{
        align-items: center;
        width: 100%;
    }

    .download{
        font-size: 20px;
        margin: 1% 5%;
    }
    .download__image{
        margin: 0;
        margin: 1% 5%;
        width: 80%;
    }

    .box1{
        width: 125%;
    }

    .review1{
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .sect#two{
        height: 500px;
    }

    .sect#sect{
        padding-bottom: 40%;
    }

    .review#one{
        left: -35px;
        width: 90%;
        height: 200px;
        top: 0;
    }

    .review#two{
        width: 90%;
        top: 0;
        height: 200px;
    }

    .review#three{
        right: 10px;
        width: 90%;
        top: 0;
        height: 200px;
    }

    .bottom{
        left: 30%;
    }

    .imgw{
        box-sizing: border-box;
        width: 100%;
        padding: 0% 10%;
    }


    .address{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -132px;
        overflow: hidden;
        height: auto;
        width: auto;
    }

    .foot__left{
        clear: both;
        width: auto;
        float: none;
    }

    .foot__desc{
        padding-right: 5%;
    }

    .social.padding{
        box-sizing: border-box;
        width: 80%;
    }

    .foot__right{
        float: none;
        width: auto;
        margin: 0;
        margin-left: 6%;
    }

    .foot__logo{
        width: 100%;
    }

    .play{
        margin-top: -21%;
        right: 4%;
    }

    .footc{
        padding: 2% 1%;
    }

    .imgl#mobi{
        float: left;
    }

    .padde{
        display: none;
    }
    .padde, .imgr.paddi{
        padding-left: 5px;
        margin-left: 0;
    }

    .information{
        font-size: 25px;
        padding: 35px 0;
    }

    .imgll{
        width: auto;
        height: auto;
    }

    .imgrr{
        padding: 20px;
        width: auto;
        height: auto;
    }
}


