/* *{
    box-sizing: border-box;
}

header{
    background-color: rgb(244, 244, 244);
    overflow: hidden;
}


.logo{
    padding: 2% 10%;
    padding-right: 2%;
    float: left;
    font-size: 30px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
    padding: 1.5% 2%;
}

header nav ul a{
    text-decoration: none;
}

#search{
    margin-top: -2%;
    width: 200px;
    height: 30px;
    
}

.searchb{
    float: right;
    width: auto;
    padding: 1% 2%; 
} 
*/

/* .rfloat{
    float: left;
    padding: 1.3% 7%;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a,
a:focus,
a:hover,
a:link {
    text-decoration: none;
}

.navbar {
    background-color: rgb(244, 244, 244);
    overflow: hidden;
    padding: 25px 80px;
}

.navbar__left {
    float: left;
    overflow: hidden;
}

.navbar__left li {
    float: left;
    margin-right: 25px;
    margin-top: 11px;
}

.navbar__left li a {
    color: rgb(175, 164, 164);
}

.navbar__right {
    float: right;
    margin-right: 80px;
}

.navbar__left .navbar__logo {
    font-size: 20px;
    margin: 0px 100px;
}

.searchbox{
    width: 160px;
    height: 40px;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 5px;
    padding: 0px 8px;
}

.searchb{
    width: auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid rgb(71, 221, 89);
    color: rgb(71, 221, 89);
    font-weight: 500;
}

article{
    padding: 4% 10%;
}

.midhead{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}

.downhead{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    padding-top: 50px;
    padding-bottom: 30px;
    /* identical to box height */
    /* Heading/Title Color */
    color: #152536;
}

/* .pcolor{
    position: relative;
} */

.rectangle{
    /* position: absolute; */
    width: 166px;
    height: 72px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
}

.text1{
    font-size: 18px;
    padding: 8px 0px;
    font-weight: 700;
}
.rectangle#one{
    background: #7749F8;
}

.rectangle#two{
    background: #5227CC;
}

.rectangle#three{
    background: #EBE5FC;
}

hr{
    color: #d3d3d3;
}

.midsec{
    float: left;
    margin-right: 40px;
}

.tabs-main {
    width: 50%;
    /* margin-bottom: 20px; */
  }

.tab-home,
.tab-profile,
.tab-contact {
    float: left;
    border: 1px solid rgb(194, 192, 192);
    padding: 8px 24px;
    margin-top: 24px;
    font-weight: 700;
    border-radius: 4px;
}

.active{
    border-bottom-color: transparent;
    color: rgb(125, 122, 122);
}

.inactive{
    color: #5227CC;
}

.tab-empty{
    float: left;
    border-bottom: 1px solid #d3d3d3;
    width: 55%;
    margin-left: 288px;
}

.tabs-desc{
    clear: both;
    padding: 15px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #68717A;
}

.horizontal{
    float: left;
    margin-top: 5%;
}

.one1{
    margin-top: 2%;
    margin-left: 10%;
}

.btn{
    clear: both;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.hor{
    margin-bottom: 50px;
}

.hor#one{
    margin-bottom: 60px;
}

.hor#two{
    margin-bottom: 65px;
}

.btn#one{
    background-color: #7749F8;
}

.btn#two{
    background-color: #5227CC;
}

.btn#three{
    background-color: #604b9a;
}

.btn#four{
    background-color: white;
    color: #5227CC;
    border-color: #5227CC;
}

.downhead#one{
    clear: both;
}

.horizontal#one2{
    margin-top: 50px;
}

.btn#five{
    background-color: #acb2b8;
}

.btn#six{
    background-color: #54595E;
}

.btn#seven{
    background-color: #75797d;
}

.btn#eight{
    background-color: white;
    border-color: #acb2b8;
    color: #acb2b8;
}


.table1{
    float: left;
}

.tablebox{
    width: 400px;
    height: 40px;
    border: 1px solid lightgray;
    padding: 6%;
    font-size: 20px;
    padding-bottom: 30px;
}

.tablebox#one{
    background-color: #5227CC;
    color: white;
}

.midhead#one{
    padding: 30px 0px;
}

.table2{
    float: left;
    padding: 20px 4px;
    margin-left: 100px;
}

.formhead{
    font-size: 23px;
    padding: 15px 0px;
    font-weight: 700;
}

.formhead1{
    padding: 20px 0;
    font-size: 20px;
}

.subtopic{
    padding: 15px 0px;
    font-size: 18px;
}

.checkbl{
    float: left;
}

.ip1{
    width: 500px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-left: 5px;
}

.ip1#one{
    height: 100px;
    padding-top: 10px;
}

.imgr{
    display: inline;
    margin-left: -20px;
    right: 0;
}

.checkbr{
    float: left;
    margin-left: 80px;
}

.checkbox1{
    margin-bottom: 12px;
}

.checkbox11{
    float: left;
    margin-right: 20px;
}

.makeit{
    clear: both;
}

.formhead.a{
    clear: both;
    padding-top: 50px;
}

.val{
    width: 500px;
    padding: 10px;
    border: 2px solid rgb(83, 228, 83);
    border-radius: 4px;
}

.valw{
    width: 500px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 4px;
}

.custom{
    border: 1px solid rgb(205, 203, 203);
    height: 150px;
    width: 400px;
    border-radius: 3px;
}

.custom#one{
    background-color: rgb(111, 46, 180);
    color: white;
}

.titem1{
    padding: 10px;
    font-size: 22px;
}

.titem2{
    float: right;
    margin-top: -45px;
    padding: 20px;
}

.comment{
    padding: 10px;
    margin-left: 5px;
    font-size: 18px;
}

table {
	border-collapse: collapse;
	margin-top: 7rem;
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.container {
	margin: 0 auto;
	max-width:100%;
}
th,td {
	text-align: left;
	padding: 1rem;
	max-width: 10%;
}

.primary-heading{
    margin-top: 20px;
    margin-bottom: -70px;
}
th {
	border-top: 2px solid rgba(107, 117, 125, 0.3);
	border-bottom: 2px solid rgba(107, 117, 125, 0.3);
}

td {
	border-top: 1px solid rgba(107, 117, 125, 0.3);
	border-bottom: 1px solid rgba(107, 117, 125, 0.3);
}

tbody > tr:nth-child(odd) {
	background-color: rgba(107, 117, 125, 0.2);
}

.pagination {
	margin-top: 3rem;
}

.pagination > a {
	border: 1px solid rgba(107, 117, 125, 0.3);
	border-radius: 5px;
	display: inline-block;
	font-size: 1.5rem;
	padding: 0.7rem 1.5rem;
	height: 100%;
}


.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.pagination {
	margin-top: 3rem;
}

.pagination > a {
	border: 1px solid rgba(107, 117, 125, 0.3);
	border-radius: 5px;
	display: inline-block;
	font-size: 1.5rem;
	padding: 0.7rem 1.5rem;
	height: 100%;
}

.active {
	background-color: rgb(91, 86, 161);
	color: white;
}


.cardc{
    height: 300px;
    width: 220px;
    background-color: rgb(247, 247, 247);
    margin: 20px;
    float: left;
    border-radius: 10px;
    border: 2px rgb(162, 138, 138);
}

.cardc#one{
    margin-left: 0;
    position: relative;
}

.image{
    position: relative;
    width: 80px;
    height: 80px;
    left: 0px;
    border-radius: 50%;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.sm{
    float: right;
    margin-top: -65px;
    margin-right: 55px;
    font-size: 15px;
}

.test:after {
    content: '\2807';
    font-size: 20px;
    float: right;
    margin-top: -60px;
}

.img1{
    width: 220px;
    height: 190px;
    margin-top: -8px;
}

.image1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 1px 6px;
}

.commentt{
    float: left;
    height: 35px;
    width: 175px;
    border-radius: 30px;
    background-color: white;
    float: right;
    /* margin-top: -53px;
    margin-right: 5px; */
    border: 0 none;
}

.img2{
    width: 220px;
    height: 200px;
}

.cardc#two{
    height: 270px;
}

.img3{
    width: 40px;
    margin-left: 90px;
    margin-top: -25px;
}

.textm{
    text-align: center;
    font-weight: 500;
    margin: 3px;
}

.home{
    background-color: rgb(54, 187, 54);
    padding: 8px;
    border-radius: 6px;
    margin: 7px;
    color: white;
    border: 0 none;
}

.textt{
    padding: 3px;
    margin-left: 4px;
}

.image4{
    height: 170px;
    width: 220px;
}

.texttt{
    font-size: 15px;
    margin-top: -30px;
    margin-left: 40px;
}

.cmt{
    height: 25px;
    width: 76px;
    float: right;
    margin-top: -22px;
    margin-right: 2px;
}