*{
	padding: 0%;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font: "roboto";
}
label.logo{
	font-family: sans-serif;
	font-size: 23px;
	letter-spacing: -1.2px;
	word-spacing: -1.2px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	margin: 20px;
}
.navbar{
	background-color:#f4f4f4;
	color: grey;
	height: 40px;
	padding: 30px 180px;
}

 .nav_list{
	list-style-type: none;
	float: right;
}

.nav_list li{
	display: inline-block;
	line-height: 50px;
	margin: -15px 2px;
	padding: 5px;
	font: sans-serif;
} 

.form1{
	float: right;
	display: inline;
	margin-top: -5px;
	margin-right: 10px;
	margin-left: 300px;
	height: 50px;
}

.form1 input{
	background-color: white;
	border: 0.1;
	border-color: rgb(236, 228, 228);
	outline: none;
	height: 30px;
	border-radius: 5px;
	padding-left: 15px;	
}

.form1 button{
	height: 38px;
	border: 0.1;
	border-color: rgb(53, 223, 53);
	padding: 10px;
	padding-bottom: 15px;
	color: rgb(53, 223, 53);
	border-radius: 5px;
	font-weight: 500;
}
::placeholder{
	color: grey;
}
.div1{
    padding: 3%;
    margin-left: 8%;
    margin-right: 8%;
}
.f1{
    font-size: 40px;
    font-weight: 700;
}

.line{
    margin-top: 3%;
}

.div2{
    margin-top: 3%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3%;
}

table, th, td{
    border: 1px solid rgb(154, 139, 139);
    border-collapse: collapse;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;;
}

table> th> td:hover{
    color: black;
}

.ma1{
    float: right;
    margin-right: 20%;
    margin-top: -70px;
}

#input{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border-color: aliceblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#input1{
    width: 600px;
    height: 100px;
    border-radius: 5px;
    border-color: aliceblue;   
}

#vehicle1{
    margin-bottom: 20px;
}

.hc{
    margin-bottom: 20px;
    margin-top: 20px;
}

.chl{
    float: left;
    display: inline;
}
.hc1{
    margin-top: 60px;
    margin-bottom: 20px;
}

.sg1{
    margin-left: 250px;
}

#vehicle21{
    display: inline-block;
}

.tdf{
    background-color: rgb(117, 86, 209);
    color: white;
}

.div3{
    clear: both;
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
}

.radiol{
    width: 30%;
}

  .radior{
      float: right;
      margin-top: -140px;
  }

  .tt1{
      margin-top: 20px;
  }

#input2{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border-color: rgb(58, 174, 58);
}

#input3{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border-color: rgb(236, 73, 48);
    margin-bottom: 50px;
}

.ber{
    margin-left: 500px;
    margin-top: -350px;
}

.tdi{
    width: 100px;
    height: 80px;
}
.tdf#one{
    width: 100px;
    height: 80px;
}
.tg {
    /* border-collapse:collapse;
    border-spacing:0; */
    width: 100%;
}
.tg td{
    border-color:black;
    border-style:solid;
    /* border-width:1px; */
    font-size:20px;
  overflow:hidden;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-0lax{
    text-align:left;
    vertical-align:top;
}

.tg .tg-0lax1{
        text-align:left;
        vertical-align:top;
        font-weight: 700;
        font-size: 20px;
}

.ro{
    background-color: rgb(240, 232, 232);
}

.cardc{
    height: 250px;
    width: 200px;
    background-color: rgb(245, 238, 238);
    margin: 20px;
    float: left;
}

.cardc#one{
    margin-left: 0;
}