*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d3e8f5;
}

.wrapper{
    width: 85vw;
    min-height: 50vmin;
    padding: 50px 30px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.editor{
    min-height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.editor label{
    font-size: 2.3vmin;
    color: #2a292a;
    font-weight: 400;
}

.editor input[type="range"]{
    display: block;
    width: 100%;
    position: relative;
    margin-top: 5px;
}

#chosen-image{
    display: none;
}

.result{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.result img{
    display: block;
    max-width: calc(100% - 4vmin);
    max-height: 45vmin;
    margin: auto;
}

.image-container{
    display: none;
}

input[type="file"]{
    display: none;
}

.result label{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 220px;
    background-color: rgb(159, 113, 199);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 2.8vmin;
    font-weight: 600;
    cursor: pointer;
}

.flip-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.flip-buttons .flip-option{
    margin-top: 10px;
}

.result{
    position: relative;
}
li{
    list-style-type: none;
}

.menu-container{
    position: absolute;
    bottom: 0;
    background-color: rgb(235, 233, 233);
}

.menu-container>ul{
    display: flex;
}

.menu-container>ul>li{
    padding: 10px 20px;
}