.nav1{
        float: left;
}

.home{
    float: right;
}

.home1{
    float: left;
    padding: 20px;
    margin-top: -40px;
    margin-right: 50px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    color: grey;
}

.home1#one{
    color: rgb(54, 51, 216);
}

.home1#last{
    padding: 11px 18px;
    color: white;
    width: auto;
    background-color: rgb(54, 51, 216);
    border-radius: 4px;
    margin-right: 20px;
}

.cross{
    display: none;
}

#check{
    display: none;
}

.align{
    padding: 100px 120px;
    float: left;
    text-align: center;
}

.align2{
    float: right;
    width: 578px;
    height: 584px;
    margin-right: 120px;
}
.topic{
    width: 500px;
    height: 141px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    /* or 47px */


    /* Body / Title */

    color: #3B3950;
    text-align: left;
}

.para1{
    width: 454px;
    height: 216px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    /* or 24px */


    /* Body / Paragraph */

    color: #797979;
    text-align: left;
    padding-bottom: 5%;
}

.buttondiv{
    float: left;
}

.button1{
    padding: 15px 30px;
    border: 1px  rgb(50, 50, 163);
    font-weight: 700;
}

.button1#one{
    float: left;
    background-color: rgb(88, 88, 213);
    color: white;

}
.button1#two{
    float: right;
    margin-left: 10px;
    background-color: rgb(193, 193, 236);
    color: rgb(88, 88, 213);
}


.webapp{
    float: left;
    width: 19.5%;
    padding: 20px 10px;
    margin-right: 50px;
}

.align#one{
    padding: 20px;
    margin-left: 5%;
}

.midhead{
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.middesc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
letter-spacing: 0.01em;

color: #797979;
}

h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 177.9%;
/* identical to box height, or 57px */

    letter-spacing: 0.01em;

/* Body / Title */

    color: #3B3950;
    text-align: center;
}

.align#two{
    background-color: #F8F8F8;
    width: 100%;
    padding: 0;
    padding-top: 1.5%;
    padding-bottom: 4%;
}

.desc2{
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
letter-spacing: 0.01em;

/* Body / Paragraph */

color: #797979;
    padding: 0px 37%;
}

.blogi1{
    width: 33%;
    float: left;
    padding-top: 2%;
    margin: 0;
}


.date{
    margin-left: -280px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


/* Body / Paragraph */

color: #797979;
padding:2%;
}

.t1{
    font-weight: 600;
font-size: 18px;
line-height: 140%;
/* or 25px */

letter-spacing: 0.01em;
padding-bottom: 2%;
width: 80%;
text-align: justify;
padding: 1% 3%;
}

.desc11{
    text-align: justify;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.01em;
width: 80%;
padding: 0 3%;
}

.blogwidth{
    padding: 1% 8%;
    padding-bottom: 2%;
}

.foot{
    clear: both;
    background: #292838;
    height: 14.07%;
    padding: 3% 12%;
    overflow: hidden;
}

.foot1{
    float: left;
    width: 40%;
}

.desc12{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
/* or 24px */
color: rgba(255, 255, 255, 0.8);
float: left;
width: auto;
padding-right: 3%;
}

.p1{
    float: left;
    padding: 0% 5%;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.bar{
    width: 20px;
    height: 5px;
    background-color: #3B3950;
    margin-top: 2px;
}

@media screen and (max-width: 1200px){
    .checkbtn{
        display: block;
    }
    
    .home{
        clear: both;
        display: block;
        padding-top: 4%;
        align-items: center;
    }

    .home1{
        clear: both;
        margin-left: -110%;
        margin-top: 2%;
    }

    /* .home1#last{
        clear: both;
        margin: 5% 0%;
    } */
    .home{
        display: none;
        margin: 0 30%;
    }

    .cross{
        display: none;
        position: absolute;
        right: 10%;
        z-index: 2;
        margin-top: 11%;
    }

    #check{
        display: none;
    }

    #check:checked~.checkbtn{
        display: none;
    }
    #check:checked~.cross{
        display: block;
    }
    #check:checked~.home{
        display: block;
        left:0;
    }
    
    .webapp{
        width: 30%;
        padding: 7% 2%;
        float: left;
        margin-left: 8%;
    }

    .webapp#one{
        clear: both;
    }

    .align#two{
        box-sizing: border-box;
        width: auto;
    }

    .blogi1{
        margin: 0% 7%;
    }

    .shirt{
        width: 100%;
    }

    .date{
        margin-left: -52%;
    }

    .blogi1#last{
        clear: both;
    }

    .foot{
        box-sizing: border-box;
        width: auto;
    }

    .p1#mob{
        margin-left: -10%;
        margin-top: 15px;
    }

    .copyr{
        box-sizing: border-box;
        width: auto;
    }
}

@media screen and (max-width: 576px){
    .checkbtn{
        display: block;
        margin-top: 5%;
    }

    body{
        width: 200%;
    }
    
    .nav1{
        padding: 0% 4%;
        margin-top: 7%;
    }

    nav ul{
        text-align: center;
        transition: all .5s;
    }
    .home{
        display: none;
        margin: 0 30%;
    }

    .cross{
        display: none;
        position: absolute;
        right: 10%;
        z-index: 2;
        margin-top: 11%;
    }

    #check{
        display: none;
    }

    #check:checked~.checkbtn{
        display: none;
    }
    #check:checked~.cross{
        display: block;
    }
    #check:checked~.home{
        display: block;
        left:0;
    }

    .home1{
        clear: both;
        list-style-type: none;
        font-size: 18px;
        font-weight: 700;
        color: grey;
        margin-left: -3%;
        margin-top: 1%;
    }
    .align{
        text-align: center;
        width: 100%;
        padding: 5% 5%;
    }

    .buttondiv{
        padding: 1% 1%;
    }

    .align2{
        float: none;
        width: 80%;
        /* margin-top: -40%; */
        padding: 0%;
        margin-left: 1%;
    }

    .butto1{
        padding: 2% 10%;
    }
    .align#one{
        padding: 20px;
        align-items: center;
        /* margin-right: 10%; */
        margin: 0;
    }

    .webapp{
        /* margin-left: 50%; */
        float: none;
        align-items: center;
        padding: 20px 10px;
        margin: 0% 4%;
        width: auto;
        margin-right: 50px;
    }

    .midhead{
        text-align: center;
    }

    .middesc{
        clear: both;
    }

    .desc2{
        width: 50%;
        margin-left: -10%;
        margin-bottom: 5%;
    }

    .blogi1{
        clear: both;
        margin: 0;
        width: 100%;
    }

    .date{
        margin-left: -40%;
        padding: 0;
    }

    .t1{
        margin-left: 19%;
        text-align: left;
        width: 55%;
    }

    .desc11{
        margin-left: 19%;
        text-align: left;
        width: 55%;
    }

    .viewa{
        width: 10%;
        margin-top: 20px;
    }

    .foot1{
        clear: both;
        width: 100%;
    }

    .p1{
        float: left;
        padding: 2% 12%;
        margin: 0 2%;
    }

    .align#two{
        /* margin-left: 5%; */
        width: 100%;
    }

    .p1#mob{
        clear: both;
        margin-left: 2%;
    }

    .mob{
        padding: 0% 10%;
    }

    .foot{
        box-sizing: border-box;
        width: 100%;
        /* margin-left: 5%; */
    }

    .copyr{
        /* margin-left: 5%; */
        box-sizing: border-box;
        width: 100%;
    }
}