*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #FFF2E1;
    height: calc(100%/1.05);
    width: 100%;
    /* border-bottom-left-radius: calc(100%/2);
    border-bottom-right-radius: calc(100%/2); */
    clip-path: ellipse(85% 60% at 50% 40%);
}

.fcontainer{
    display: flex;
    padding: 2% 5%;
}

.logo{
    position: relative;
}

.logo2{
    position: absolute;
    left: 20px;
    top: 25px;
}

.fright{
    margin-left: 25vw;
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

.pagelink{
    float: left;
    padding: 1vw 3vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #787ab9;
}

.pagelink:h{}

/* .first{
    margin-left: 10vw;
} */

.button{
    float: right;
    padding: 10px 20px;
    border: 2px solid rgb(234, 234, 234);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #252641;
    border-radius: 20px;
    margin-right: 20px;
}

.button#one{
    background-color: white;
}
.button#two{
    background-color:#F48C06;
    color: white;
}

.button:hover{
    background-color: rgb(228, 224, 224);
}

u{
    color: #F48C06;
}

del{
    color: #2F327D;
}

.h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 81px;
    color: #F48C06;
    padding: 5% 8%;
    width: calc(100%/3);
    padding-bottom: 2%;
}

.desc{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #464646;
    padding: 0 8%;
    width: calc(100%/3);
}

.clickme{
    padding: 6vh 8vw;
    float: left;
}

.btn{
    float: left;
    padding: 10px 20px;
    border: 2px solid rgb(234, 234, 234);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #252641;
    border-radius: 20px;
    box-sizing: border-box;
    height: 60px;
    margin-top:50px;
    margin-left:100px;
}

.btn#two{
    background-color:#F48C06;
    color: white;
}

.btn:hover{
    background-color: rgb(168, 166, 166);
}

.play{
    float: left;
}

.hiw{
    padding: 5% 0;
    font-size: 20px;
    margin-left: -30px;
}

.btnflex{
    display: flex;
}

.flex{
    display: flex;
}

.lovely__image{
    float: right;
    margin-top: -42%;
    width: calc(100%/2.5);
    height: 600px;
    margin-right: 8%;
}

.relative{
    position: relative;
}

.relative11{
    position: relative;
}

.group{
    position: absolute;
    right: 0;
    width: 15%;
}

.group#one{
    right: 37%;
    margin-top: -30%;
}

.group#two{
    right: 7%;
    margin-top: -30%;
    width: 100px;
}

.group#four{
    right: 8%;
    margin-top: -18%;
}

.group#three{
    right: 32%;
    margin-top: -17%;
}

.branduser{
    box-sizing: border-box;
    padding: 40px 10%;
}

.brand{
    padding: 10px 20px;
    width: 15%;
}

.brand:hover{
    background-color: rgb(240, 235, 235);
}

.topic{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

.skillll{
    text-align: center;
    font-size: 22px;
    padding: 0 20%;
    margin-bottom: 4%;
}

.log{
    width: 30%;
    position: absolute;
    left: 35%;
    top: -16%;
}

.card{
    position: relative;
    padding: 50px 20px;
    border: 2px solid rgb(233, 231, 231);
    padding-bottom: 30px;
    margin-right: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.card#one{
    margin-left: 6%;
}

.card#last{
    margin-right: 6%;
}

.bill{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    /* line-height: 45px; */
    text-align: center;
    padding-top: 8%;
    color: #2F327D;
}

.bill__desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #696984;
    padding-top: 5%;
}

.flex1{
    /* position: flex; */
    /* margin: 50px 40%; */
}

.photo__card{
    position: relative;
}

.photo1{
    /* position: absolute; */
    /* justify-content: flex-start; */
    float: left;
    width: 30%;
    padding: 10px 5%;
    margin-left: 10%;
}

.photo2{
    /* position: absolute; */
    /* justify-content: flex-end; */
    right: 0;
    width: 30%;
    padding: 10px 5%;
    margin-right: 6%;
}

.mid1{
    position: absolute;
    top: 30vh;
    left: 21%;
    color: white;
    font-size: 30px;
}

.mid2{
    position: absolute;
    top: 30vh;
    right: 21%;
    color: white;
    font-size: 30px;
}

.abs__button{
    margin: 10px 50px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.colorr{
    background-color: #23BDEE;
    border: 1px solid #23BDEE;
}

.flex#two{
    padding: 5% 7%;
}

.topp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #2F327D;
}

.para1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    letter-spacing: 0.02em;
    color: #696984;
}

.link{
    text-decoration: underline;
    padding-top: 20px;
}

.width{
    box-sizing: border-box;
    width: 80%;
    padding-right: 40px;
}

.rel{
    position: relative;
}

.photo3{
    width: 100%;
    margin-left: 20px;
    z-index: 40;
}

.rectangle{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.rectangle#two{
    position: absolute;
    background-color: #F48C06;
    bottom: -1%;
    right: -6%;
    z-index: -10;
}

.rectangle#one{
    width: 110px;
    height: 110px;
    background-color: #23BDEE;
    position: absolute;
    top: -3%;
    left: 1%;
    z-index: -10;
}

.circle{
    position: absolute;
    width: 60px;
    border-radius: 50%;
    background-color: #F48C06;
}

.circle#one{
    top: 0;
    left: 0;
    z-index: -10;
    width: 60px;
    height: 60px;
}

.circle#two{
    width: 30px;
    top: 60%;
    right: 0;
    height: 30px;
    
}

.center{
    text-align: center;
}

.flex#three{
    padding: 80px 60px;
}

.imagee{
    width: 66%;
}


.comment{
    padding: 50px 5px;
}

.icon{
    width: 13%;
    height: 100%;
}

.comment__one{
    padding: 10px 20px;

}

.image1{
    height: 50%;
    width: 50%;
}

.midd{
    padding: 16% 8%;
}

h1{
    font-size: 45px;
    padding: 20px 0px;
}


.left__padding{
    margin: 0;
    padding: 0;
    padding-left: 60px;
}

.midd#one{
    padding-top: 8%;
}

.smf{
    margin: 0 44%;
    color: #F48C06;
    border: 1px solid #F48C06;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: white;
}

.image11{
    padding-top: 4%;
    width: 100%;
    height: 60%;
}

.smf#one{
    margin: 15px 0;
}

.hr{
    width: 50px;
    height: 0;
    border: 0.1px solid #525596;
    margin-top: 9px;
}

.t1{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;

    color: #525596;
    margin-left: 20px;
}

.flexi{
    display: flex;
}

.image111{
    height: 600px;
    margin-right: 300px;
}

.carddd{
    /* width: 300px;
    height: 300px; */
    /* border: 1px solid rgb(240, 237, 237); */
    margin: 1% 10%;
    margin-right: 4%;
}

h2{
    margin: 20px 0;
    color: #252641;
}

.readmore{
    margin: 20px 0;
}

.top1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 180%; */
    color: #252641;
    padding: 0px 10px;
}

.comm1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 10px;
    letter-spacing: 0.02em;
    color: #696984;
}

.cardflex{
    margin-bottom: 30px;
}

.news__button{
    background: #F4C467;
    border-radius: 80px;
    padding: 5px 20px;
    border: 0;
}

.flex#four{
    box-sizing: border-box;
}

.foot{
    background-color: #383842;
    /* width: 100%; */
    padding: 5% 20%;
    padding-left: 35%;
}

/* #right{
    position: absolute;
    left: 30%; */

.skill{
    color: white;
    padding: 0;
    margin: 0;
    margin-top: -6%;
    font-size: 40px;
}

.line{
    border: 1px solid #626381;
    /* transform: rotate(90deg); */
    height: 110px;
    margin-left: 100px;
    width: 0px;
}

.virtual{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin-left: 40px;
    color: white;
    width: 25%;
}

.emailbox{
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    background: transparent;
    margin-top: 20px;
}

.subscribe{
    background-color: #525596;
    color: white;
    width: auto;
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
}

.padding{
    padding: 20px 0;
}

.color{
    color: rgb(232, 232, 232);
    margin-right: 30px;
    font-size: 22px;
    padding: 20px 0;
}

.copyright{
    color: rgb(232, 232, 232);
    font-size: 22px;
    margin: 20px 50px;
    margin-bottom: 10px;
}

button:hover{
    background-color: #696984;
}

.flexi2{
    display: flex;
}

@media screen and (max-width: 1200px) {

    .image111{
        width: 42%;
        margin: 0;
    }

    .foot{
        width: auto;
        padding: 20%;
    }

    .flexi2{
        display: block;
    }

    .relative11{
        position: block;
        margin-top: -50%;
    }

    .btn#two{
        margin: 10px;
    }

    .play{
        margin: 0;
        padding: 0;
        width: 15%;
    }

    .branduser{
        clear: both;
    }

    .hiw{
        padding: 12vh 0;
    }

    .flex#three{
        position: block;
    }

    .imagee{
        width: 100%;
        height: 100%;
    }

    .virtual{
        width: 40%;
    }

    .cardflex{
        padding: 0 75px;
    }

    .photo1, .photo2{
        width: auto;
    }
    
    .photo2{
        padding: 10px 15%;
    }

    .log{
        top:-5%;
    }

    .mid1{
        position: absolute;
        top: 50vh;
        left: 35%;
        color: white;
        font-size: 30px;
    }

    .mid2{
        position: absolute;
        top: 163vh;
        right: 30%;
        color: white;
        font-size: 30px;
    }

    .topic{
        padding-top: 90px;
    }

    .comment{
        padding: 50px 110px;
    }

    .topp{
        padding: 0 150px;
    }
}

@media screen and (max-width: 576px) {
    .h1{
        margin-right: 0;
        width: auto;
    }

    .desc{
        width: auto;
    }

    .lovely__image{
        margin: 0;
        padding: 0;
        float: none;
        width: auto;
        margin-top: 150px;
    }

    /* #width1{
        width: 50%;
    } */

    .flex{
        display: block;
    }

    .log{
        top: -8%;
    }

    .card{
        margin: 20px 10px;
    }

    .flex1{
        display: block;
    }

    .photo__card{
        /* width: 500%; */
        /* position: block; */
        margin: 0;
        padding: 0;
    }

    .photo1, .photo2, .imagee, .image1{
        width: 100%;
        margin: 0 20px;
    }

    .mid1, .mid2{
        font-size: 15px;
    }

    .mid2{
        top: 100vh;
        left: 110px;
    }

    .width{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .photo3{
        padding-top: 50px;
        width: 100%;
    }
    .rectangle#one{
        margin-top: 40px;
    }

    .rectangle#two{
        margin-right: -7%;
    }

    .flex#three{
        padding: 0;
        margin: 30px 30px;
    }

    .comment{
        margin: 0;
        padding: 10px;
    }

    .icon{
        margin-top: 15px;
    }

    .card1png{
        width: 80%;
    }

    .cardflex{
        margin: 20px 30px;
        padding: 0px 10px;
    }

    .image111{
        width: 100%;
    }

    .para1{
        padding: 0 20px;
    }

    .photo2{
        padding: 0 20px;
    }

    .topp{
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .link{
        margin-left: 7%;
    }
}