.nav1{
    float: left;
}

.home{
    float: right;
}

.home1{
    float: left;
    padding: 20px;
    margin-top: -40px;
    margin-right: 50px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    color: grey;
}

.home1#one{
    color: rgb(54, 51, 216);
}

.home1#last{
    color: white;
    width: auto;
    padding: 14px 20px;
    background-color: rgb(54, 51, 216);
    border-radius: 4px;
    margin-right: 20px;
}

.align{
    padding: 100px 120px;
    float: left;
    text-align: center;
}

.align2{
    float: right;
    width: 578px;
    height: 584px;
    margin-right: 120px;
}
.topic{
    width: 500px;
    height: 141px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    /* or 47px */


    /* Body / Title */

    color: #3B3950;
    text-align: left;
}

.para1{
    width: 454px;
    height: 216px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    /* or 24px */


    /* Body / Paragraph */

    color: #797979;
    text-align: left;
    padding-bottom: 5%;
}

.buttondiv{
    float: left;
}

.button1{
    padding: 15px 30px;
    border: 1px  rgb(50, 50, 163);
    font-weight: 700;
}

.button1#one{
    float: left;
    background-color: rgb(88, 88, 213);
    color: white;

}
.button1#two{
    float: right;
    margin-left: 10px;
    background-color: rgb(193, 193, 236);
    color: rgb(88, 88, 213);
}


.webapp{
    float: left;
    width: 20%;
    padding: 20px 10px;
    margin-right: 50px;
}

.align#one{
    padding: 20px;
    margin-left: 5%;
}

.midhead{
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.middesc{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
letter-spacing: 0.01em;

color: #797979;
}

h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 177.9%;
/* identical to box height, or 57px */

    letter-spacing: 0.01em;

/* Body / Title */

    color: #3B3950;
    text-align: center;
}

.align#two{
    background-color: #F8F8F8;
    width: 100%;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 90px;
}

.desc2{
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;
letter-spacing: 0.01em;

/* Body / Paragraph */

color: #797979;
    padding: 0px 37%;
}

.blogi1{
    width: 32%;
    float: left;
    padding-top: 2%;
    margin: 0;
}

.date{
    margin-left: -280px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


/* Body / Paragraph */

color: #797979;
padding:2%;
}

.t1{
    font-weight: 600;
font-size: 18px;
line-height: 140%;
/* or 25px */

letter-spacing: 0.01em;
padding-bottom: 2%;
width: 80%;
text-align: justify;
padding: 1% 3%;
}

.desc11{
    text-align: justify;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.01em;
width: 80%;
padding: 0 3%;
}

.blogwidth{
    padding: 0 12%;
    padding-top: 2%;
}

.foot{
    clear: both;
    background: #292838;
    height: 14.07%;
    padding: 3% 12%;
    overflow: hidden;
}

.foot1{
    float: left;
    width: 40%;
}

.desc12{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
/* or 24px */
color: rgba(255, 255, 255, 0.8);
float: left;
width: auto;
padding-right: 3%;
}

.p1{
    float: left;
    padding: 0% 5%;
}
