.home1:hover{
    color: rgb(54, 51, 216);
}

.brand{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;
}

.top{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 110%;
/* identical to box height, or 20px */

text-transform: uppercase;

color: #FFFFFF;
padding-bottom: 6%;
}

.down{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */


color: rgba(255, 255, 255, 0.8);
padding: 3%;
}

.copyr{
    clear: both;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1% 3%;
    background-color: #23222F;
    width: 100%;
}

.viewa{
    margin-left: 45%;
    margin-top: 0;
    clear: both;
    color: white;
    width: 5%;
    padding: 1% 2%;
    background-color: rgb(54, 51, 216);
    border-radius: 4px;
    font-weight: 700;
}